# Dataset : apps.csv

+ Le dataset apps.csv contient des informations sur des milliers d'applications dans le Google Play Store.
### Challenges :
+ import pandas et lire le fichier apps.csv(assigner le résultat à la variable data)
+ Inspecter le dataset(shape,head,tail, info, valeurs manquantes,nom des colonnes)
+ Afficher cinq lignes au hasard.
+ supprimer les colonnes 'Last_Updated' et 'Android_Ver'
+ Calcuer le nombre des valeurs manquantes dans la colonne Rating, supprimer les après.

In [1]:
# import pandas
import pandas as pd
data = pd.read_csv('apps.csv')

In [2]:
# Le nombre de lignes et de colonnes
data.shape

(10841, 12)

In [3]:
# Les cinq premières lignes
data.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
0,Ak Parti Yardım Toplama,SOCIAL,NaN,0,8.7,0,Paid,$13.99,Teen,Social,"July 28, 2017",4.1 and up
1,Ain Arabic Kids Alif Ba ta,FAMILY,NaN,0,33.0,0,Paid,$2.99,Everyone,Education,"April 15, 2016",3.0 and up
2,Popsicle Launcher for Android P 9.0 launcher,PERSONALIZATION,NaN,0,5.5,0,Paid,$1.49,Everyone,Personalization,"July 11, 2018",4.2 and up
3,Command & Conquer: Rivals,FAMILY,NaN,0,19.0,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device
4,CX Network,BUSINESS,NaN,0,10.0,0,Free,0,Everyone,Business,"August 6, 2018",4.1 and up

In [5]:
# Les cinq dérnières lignes
data.tail()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
10836,Subway Surfers,GAME,4.5,27723193,76.0,"1,000,000,000",Free,0,Everyone 10+,Arcade,"July 12, 2018",4.1 and up
10837,Subway Surfers,GAME,4.5,27724094,76.0,"1,000,000,000",Free,0,Everyone 10+,Arcade,"July 12, 2018",4.1 and up
10838,Subway Surfers,GAME,4.5,27725352,76.0,"1,000,000,000",Free,0,Everyone 10+,Arcade,"July 12, 2018",4.1 and up
10839,Subway Surfers,GAME,4.5,27725352,76.0,"1,000,000,000",Free,0,Everyone 10+,Arcade,"July 12, 2018",4.1 and up
10840,Subway Surfers,GAME,4.5,27711703,76.0,"1,000,000,000",Free,0,Everyone 10+,Arcade,"July 12, 2018",4.1 and up

In [6]:
# Info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size_MBs        10841 non-null  float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content_Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Android_Ver     10839 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1016.5+ KB

In [7]:
# Le nombre des valeurs manquantes par colonne
# On voit que la colonnes Rating présent trop de valeurs manquantes
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size_MBs             0
Installs             0
Type                 1
Price                0
Content_Rating       0
Genres               0
Last_Updated         0
Android_Ver          2
dtype: int64

In [8]:
# Afficher les noms de colonnes
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size_MBs', 'Installs', 'Type',
       'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Android_Ver'],
      dtype='object')

In [9]:
# Afficher cinq lignes au hasard
data.sample(5)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
726,Diligan CD VR,MEDICAL,NaN,1,46.0,50,Free,0,Everyone,Medical,"May 21, 2018",4.4 and up
2215,EP Research Service,BOOKS_AND_REFERENCE,4.7,14,27.0,"1,000",Free,0,Everyone,Books & Reference,"March 5, 2018",4.1 and up
8110,The NBC App - Watch Live TV and Full Episodes,ENTERTAINMENT,4.1,58028,17.0,"5,000,000",Free,0,Teen,Entertainment,"July 5, 2018",4.1 and up
8753,Rescue Robots Survival Games,GAME,4.0,27557,69.0,"5,000,000",Free,0,Teen,Action,"July 6, 2018",4.1 and up
2918,A41 WatchFace for Android Wear Smart Watch,LIFESTYLE,4.5,231,5.7,"5,000",Paid,$0.99,Everyone,Lifestyle,"December 24, 2017",4.3 and up

In [10]:
cols = ['Last_Updated','Android_Ver']
# Supprimons ces deux colonnes
data.drop(cols,axis=1,inplace=True) # ou bien : data=data.drop(cols,axis=1)

In [11]:
# Le nombre de valeurs manquantes dans la colonne rating
data.Rating.isnull().sum().sum()

1474

In [16]:
# Supprimer les lignes ou la colonne rating présentent des valeurs manquantes. 
data = data[~data.Rating.isnull()]

In [17]:
data.shape # inspecter la dimension

(9367, 10)