# Une séries d'exercices sur pandas

+ Challenge 1 :
Lire le dataset cars et convertir la colonne horsepower au format numérique.

In [79]:
# importer les librairies nécessaires
import pandas as pd
import numpy as np

In [80]:
# Lire le fichier csv cars.csv, utiliser
labels = ['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'name']
data = pd.read_csv('cars_raw.csv',skiprows=2,skipfooter=1,header=None,names=labels)

C:\Users\souchal\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  # This is added back by InteractiveShellApp.init_path()

In [81]:
# Les cinq premières lignes
data.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
324,12.0,8,429.0,198.0 hp,4952,11.5,73,usa,mercury marquis brougham
325,27.0,4,101.0,83.0 hp,2202,15.3,76,europe,renault 12tl
326,17.0,6,250.0,100.0 hp,3329,15.5,71,usa,chevrolet chevelle malibu
327,14.5,8,351.0,152.0 hp,4215,12.8,76,usa,ford gran torino
328,25.0,6,181.0,110.0 hp,2945,16.4,82,usa,buick century limited

In [82]:
# Les cinq dernières lignes
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0 hp,3504,12.0,70,United States,chevrolet chevelle malibu
1,15.0,8,350.0,165.0 hp,3693,11.5,70,United States,buick skylark 320
2,18.0,8,318.0,150.0 hp,3436,11.0,70,United States,plymouth satellite
3,16.0,8,304.0,150.0 hp,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0 hp,3449,10.5,70,usa,FORD TORINO

In [83]:
# la dimmension du dataset
data.shape

(329, 9)

In [84]:
# Le nombre des valeurs manquantes par colonne
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
name            0
dtype: int64

In [85]:
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0 hp,3504,12.0,70,United States,chevrolet chevelle malibu
1,15.0,8,350.0,165.0 hp,3693,11.5,70,United States,buick skylark 320
2,18.0,8,318.0,150.0 hp,3436,11.0,70,United States,plymouth satellite
3,16.0,8,304.0,150.0 hp,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0 hp,3449,10.5,70,usa,FORD TORINO
5,15.0,8,429.0,198.0 hp,4341,10.0,70,usa,FORD GALAXIE 500
6,14.0,8,454.0,220.0 hp,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0 hp,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0 hp,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0 hp,3850,8.5,70,usa,amc ambassador dpl

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           329 non-null    float64
 1   cylinders     329 non-null    int64
 2   displacement  329 non-null    float64
 3   horsepower    329 non-null    object
 4   weight        329 non-null    int64
 5   acceleration  329 non-null    float64
 6   model year    329 non-null    int64
 7   origin        329 non-null    object
 8   name          329 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 23.3+ KB

In [87]:
# Les noms des colonnes
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'name'],
      dtype='object')

In [88]:
# Renommer la colonne "model year"
data.rename(columns={"model year":"model_year"},inplace=True)

In [89]:
# On vérifie 
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

# Convertir la colonne "horsepower" au format numérique, mais avant il faudra enlever le "hp".

In [90]:
# inspecter la colonne
data["horsepower"].head()

0    130.0 hp
1    165.0 hp
2    150.0 hp
3    150.0 hp
4    140.0 hp
Name: horsepower, dtype: object

In [91]:
# On utilise la méthode replace pour remplacer "hp" par rien ""
data['horsepower']=data['horsepower'].str.replace("hp","")

In [92]:
data.horsepower.tail()

324    198.0
325     83.0
326    100.0
327    152.0
328    110.0
Name: horsepower, dtype: object

In [93]:
# Inspecter toutes les lignes
pd.options.display.min_rows=None

In [94]:
data.horsepower

0              130.0
1              165.0
2              150.0
3              150.0
4              140.0
5              198.0
6              220.0
7              215.0
8              225.0
9              190.0
10             170.0
11             160.0
12             150.0
13             225.0
14              95.0
15              97.0
16              85.0
17              46.0
18              87.0
19              90.0
20              95.0
21             113.0
22              90.0
23             215.0
24             200.0
25             210.0
26             193.0
27              90.0
28     Not available
29             100.0
            ...
299             88.0
300             85.0
301             84.0
302             90.0
303             92.0
304    Not available
305             74.0
306             63.0
307             70.0
308            110.0
309             85.0
310             92.0
311            112.0
312             84.0
313             90.0
314             86.0
315             52.0
316             84.0
317             79.0
318             82.0
319             95.0
320            160.0
321            170.0
322            110.0
323             90.0
324            198.0
325             83.0
326            100.0
327            152.0
328            110.0
Name: horsepower, Length: 329, dtype: object

In [106]:
print("###############################")
print(f'Index numéro 28 : {data.horsepower.loc[28]}')
print("###############################")
print('\n')
print('Les 15 premières valeurs de la méthode value_counts :')
print("*****************************************************")
print(data.horsepower.value_counts().nlargest(15))
print("*****************************************************")
print('\n')
print('-------------------------------------------------------------')
print(f"Le nombre de [Not available] dans la série horsepower est :{data.horsepower.value_counts().loc['Not available ']}")
print('-------------------------------------------------------------')

###############################
Index numéro 28 : Not available
###############################


Les 15 premières valeurs de la méthode value_counts :
*****************************************************
150.0             22
90.0              19
110.0             19
100.0             16
88.0              14
105.0             12
95.0              10
85.0               9
70.0               8
140.0              7
80.0               7
145.0              7
170.0              6
75.0               6
Not available      6
Name: horsepower, dtype: int64
*****************************************************


-------------------------------------------------------------
Le nombre de [Not available] dans la série horsepower est :6
-------------------------------------------------------------

In [77]:
# On a 6 valeurs "Not available", remplaçons cette valeur par np.nan
data.horsepower =data.horsepower.replace('Not available ',np.nan)

In [78]:
# On convertit la colonne horsepower au type "float"
data.horsepower = data.horsepower.astype('float')

In [51]:
data.horsepower.dtype

dtype('float64')

+ Merci pour votre lecture.